[Unit]
Requires={{etcd_service}} docker.service
After={{etcd_service}} docker.service

[Service]
ExecStart=/usr/bin/sleep infinity

[Install]
WantedBy=multi-user.target
